/*
===============================================================================================================================
Comments Plugin Styles
===============================================================================================================================
*/

.comment {
	margin-top: 15px;
	border-top: gray solid 2px;
}
.comment:first-child {
  margin-top: 0px;
}
.comment,
.comment-body {
  zoom: 1;
  overflow: hidden;
}
.comment-body {
  width: 10000px;
}
.comment-object {
  display: block;
}
.comment-right,
.comment > .pull-right {
  padding-left: 10px;
}
.comment-left,
.comment > .pull-left {
  padding-right: 10px;
}
.comment-left,
.comment-right,
.comment-body {
  display: table-cell;
  vertical-align: top;
}
.comment-middle {
  vertical-align: middle;
}
.comment-bottom {
  vertical-align: bottom;
}
.comment-heading {
  margin-top: 0px;
  margin-bottom: 5px;
  border-bottom: gray dashed 1px;
}
.comment-title, .comment-title h4 {
	padding: 0px;
	margin: 0px;
}
.comment-meta {
	display: inline;
	font-size: small;
}
.comment-reply {
	display: inline;
	float: right;
}
.comment-text {
	clear: both;
}
.comment-list {
  padding-left: 0px;
  list-style: none;
}
.comment-flag-new {
	background-color: lightcyan;
}
.comment-level-1 { margin-left: 20px; padding-left: 0px; border-left: gray solid 0px; }
.comment-level-2 { margin-left: 40px; padding-left: 0px; border-left: gray solid 0px; }
.comment-level-3 { margin-left: 60px; padding-left: 0px; border-left: gray solid 0px; }
.comment-level-4 { margin-left: 80px; padding-left: 0px; border-left: gray solid 0px; }
.comment-level-5 { margin-left: 100px; padding-left: 0px; border-left: gray solid 0px; }
.row.comments { position: relative; }
.comment-level-1::before {
    content: "\f105";
    font-family: FontAwesome;
    position: absolute;
    left: 0px;
    font-size: 3rem;
    color: lightgray;
}
.comment-level-2::before {
    content: "\f105\f105";
    font-family: FontAwesome;
    position: absolute;
    left: 0px;
    font-size: 3rem;
    color: lightgray;
}
.comment-level-3::before {
    content: "\f105\f105\f105";
    font-family: FontAwesome;
    position: absolute;
    left: 0px;
    font-size: 3rem;
    color: lightgray;
}
.comment-level-4::before {
    content: "\f105\f105\f105\f105";
    font-family: FontAwesome;
    position: absolute;
    left: 0px;
    font-size: 3rem;
    color: lightgray;
}
.comment-level-5::before {
    content: "\f105\f105\f105\f105\f105";
    font-family: FontAwesome;
    position: absolute;
    left: 0px;
    font-size: 3rem;
    color: lightgray;
}
