{% extends 'partials/base.html.twig' %}

{% if admin.route %}
    {% set context = admin.page(true) %}
{% endif %}

{% block titlebar %}
    <h1><i class="fa fa-fw fa-file-text-o"></i> {{ "PLUGIN_COMMENTS.COMMENTS"|tu }}</h1>
{% endblock %}

{% block content %}

    <style>
    .page-data ul { padding-left: 60px; display: block; list-style-type: square; }
    .page-data ul li .row { padding-left: 0px }
    </style>

    <div class="page-data">
        <div class="gpm gpm-themes">
            <h1>
                {{"PLUGIN_COMMENTS.COMMENTS"|e|tu}}
            </h1>
            <div class="gpm gpm-themes themes card-row grid fixed-blocks pure-g">
                <ul class="pages-list depth-0">
                   {% for item in grav.twig.comments %}
                       <li class="page-item">
                           <div class="row">
                               <a href="{{ item.route }}" class="page-edit">{{ item.content|e }}</a>
                           </div>
                       </li>
                   {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
